.clearfix {
clear: both;

}

/* Style the navbar */
nav {
  overflow: hidden;
  background-image: url("images/FONDO NAVBAR.png");
}

/* Navbar links */
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  tex

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #333;
  color: white;
}


/* Page content */
.content {
 padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;
}
.derecha {
  float: right;
}

body {
  margin: 0;
  font-size: 28px;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

#header-inner,#navbar-inner { width: 60%; margin: 0 auto; }

#navbar-inner-left { width: 20%; float: left; }
#navbar-inner-right { width: 20%; float: right; }

#navbar-inner-center { width: 60%; float: left; text-align: center; }

#indice { width: 50%; margin: 0 auto; }

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky, .content {
  padding-top: 60px;
}

.fright { float: right !important;}
t-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #333;
  color: white;
}


/* Page content */
.content {
 padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;
}
.derecha {
  float: right;
}

body {
  margin: 0;
  font-size: 28px;
}

header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#header-inner,#navbar-inner { width: 60%; margin: 0 auto; }

#navbar-inner-left { width: 20%; float: left; }
#navbar-inner-right { width: 20%; float: right; }
